/* Structure */
.story-container {
    position: relative;
  }
  
  .story-table-container {
    position: relative;
    min-height: 12.5rem;
    max-height: 25rem;
    overflow: auto;
    margin: 2rem;
  }
  
  table {
   
    width: 90%;
    height:90%;
  }
  
  .story-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 3.5rem;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .story-rate-limit-reached {
    max-width: 22.5rem;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 4rem;
  }̉̉̉
  
  .mat-column-created {
    max-width: 7.75rem;
  }
  
  a {
    color : white;
  }